.formInput,
.formSelect {
  display: block;
  width: 100%;
  padding-top: 1.0625rem;
  padding-bottom: 0.0625rem;
  padding-left: 1.25rem;
  border: 1px solid #c4d8dc;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #555;
  font: 400 0.875rem/1.875rem 'Gowun Dodum', sans-serif;
  transition: all 0.2s;
  -webkit-appearance: none;
  margin: 0;
  overflow: visible;
}
.formInput:focus,
.formSelect:focus,
.formTextarea:focus {
  border: 1px solid #ff00ff;
  outline: none;
}
.formLabel {
  display: inline-block;
  position: absolute;
  top: 0.87rem;
  left: 1.25rem;
  color: #555;
  opacity: 1;
  font: 400 0.875rem/1.375rem 'Open Sans', sans-serif;
  cursor: text;
  transition: all 0.2s ease;
  margin-bottom: 0.5rem;
}
.formInput:focus + .formLabel,
.formInput:global(.notEmpty) + .formLabel,
.formTextarea:focus + .formLabel,
.formTextarea:global(.notEmpty) + .formLabel {
  top: 0.125rem;
  opacity: 1;
  font-size: 0.75rem;
  font-weight: 700;
}
.checkbox {
  font: 400 0.75rem/1.25rem 'Open Sans', sans-serif;
}
